body {
    background-color: #474a48;
    color: #9ae19d;
    font-family: 'Poppins', 'Montserrat', 'Roboto', sans-serif;
}

#main {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.containers {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
}

.players {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid #2c302e;
    border-radius: 2%;
    padding: 0px;
}

.totals {
    font-weight: 600;
    font-size: 40px;
}

#picture {
    position: relative;
    display: inline-block;
}


#titleText {
    position: relative;
    text-align: center;
}

#controls {
    margin-top: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}


h1 {
    position: relative;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2 {
    position: relative;
    display: block;
    padding: 0;
    margin-top: 0px;
    letter-spacing: 2px;
}

h3 {
    display: block;
}

img {
    display: block;
    position: relative;
}


p {
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
}

#instructions {
    font-weight: bold;
    font-size: 12.5px;
}

#reset {
    display: block;
    position: relative;
    margin: 30px auto;
}

button {
    background: #9ae19d;
    background-image: -webkit-linear-gradient(top, #9ae19d, #537a5a);
    background-image: -moz-linear-gradient(top, #9ae19d, #537a5a);
    background-image: -ms-linear-gradient(top, #9ae19d, #537a5a);
    background-image: -o-linear-gradient(top, #9ae19d, #537a5a);
    background-image: linear-gradient(to bottom, #9ae19d, #537a5a);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #000000;
    padding: 10px 30px 10px 29px;
    text-decoration: none;
    font-weight: 750;
    font-size: 18px;
}

button:hover {
    background: #cef5b3;
    background-image: -webkit-linear-gradient(top, #cef5b3, #7d9964);
    background-image: -moz-linear-gradient(top, #cef5b3, #7d9964);
    background-image: -ms-linear-gradient(top, #cef5b3, #7d9964);
    background-image: -o-linear-gradient(top, #cef5b3, #7d9964);
    background-image: linear-gradient(to bottom, #cef5b3, #7d9964);
    text-decoration: none;
    font-weight: 750;
    font-size: 18px;
}

td {
    text-align: center;
}